//"out": "..//css/style.css"

//default settings
@import "grid.less";
html, body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
}
* {
    outline: none;
}
h1, h2, h3, h4, h5, h6, ul, li, p, span, a, div {
    font-weight: normal;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    &:link, &:visited, &:active {
        color: #000;
        text-decoration: none;
    }
}
@text-color: #2e353a;

.row-12 {
    margin-left: -15px;
    margin-right: -15px;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .col {
        float: left;
        padding: 15px;
        box-sizing: border-box;
    }
}
.ged_page {
  width: 100%;
  &__wrapper {
    max-width: 1232px;
    margin: 0 auto;
  }
  &__header {
      width: 100%;
    .item {
      &-top {
        padding: 12px 15px;
        box-sizing: border-box;
        background-color: black;
        &_wrapper {
          display: flex;
          justify-content: space-between;
        }
        .top-item {
          .link__item {
            display: inline-block;
            margin: 0 10px;

            &:hover {
              a, img {
                color: white;
              }
            }
            &-icon {
              vertical-align: middle;
              margin-right: 3px;
            }
            a {
              transition: all 200ms linear;
              color:#ccc;
              font-size: 12px;
            }
            &_active {
              a {
                font-weight: bold;
                color: white;
              }
            }
          }
        }
      }
      &-bottom {
        width: 100%;
        padding: 5px 15px;
        box-sizing: border-box;
        background-color: #3a3a43;
        .nav_wrapper {
          display: flex;
          justify-content: space-between;
          height: 100%;
        }
        .bottom__nav-button {
          display: none;
          cursor: pointer;
          img {
            width: 25px;
            margin-top: 5px;
          }
        }
        .bottom__logo {
          display: inline-block;
          margin: 5px 15px;
          .logo-img {
            width: 150px;
          }
        }
        .bottom__nav {
          display: inline-block;
          box-sizing: border-box;
          .nav__link {
            margin: 0 8px 0 0;
            color: white;
            font-weight: 500;
            transition: all 300ms linear;
            padding: 17px 0 17px 0;
            &-img {
              margin-right: 2px;
            }
            &:hover {
              color: #ffcc02;
              border-bottom: solid 1px #ffcc02;
            }
            &-dotted {
              padding: 0;
              border-bottom: dotted 1px white;
            }
            &-special {
              color: orange;
            }
          }
        }
        @media (max-width: 976px) {
          .bottom__nav {
            display: none;
          }
        }
        .bottom__logo-second {
          display: inline-block;
          margin-top: 12px;
          cursor: pointer;
          &:hover {
              fill: blue;
          }
          &-img {
            width: 70px;
          }
        }
        .bottom__banner {
          display: inline-block;
          width: 250px;
          height: 45px;
          .banner_background {
            width: 100%;
            height: 100%;
            background-color: #343997;
            margin-left: 0px;
            .banner_text {
              display: flex;
              padding: 2px 10px;
              box-sizing: border-box;
              .text {
                p {
                  color: white;
                  text-transform: uppercase;
                  font-size: 13px;
                  padding: 5px 0;
                }
              }
              .text-right {
                display: flex;
                .number {
                  color: white;
                  font-size: 25px;
                  background-color: #ff6600;
                  margin: 0 5px;
                  text-align: center;
                  padding: 3px;
                }
              }
            }
          }
        }
        @media (max-width: 1200px) {
          .bottom__banner {
            display: none;
          }
        }
      }
    }
  }
  &__main {
      width: 100%;
      height: auto;
      padding: 0 0 0 15px;
      box-sizing: border-box;
      .clear_float {
          clear:both;
      }
      .ged_page__main-content {
          float: left;
          max-width: 976px;
          min-width: 740px;
          box-sizing: border-box;
          .ged_page__top-bar {
            padding: 0 15px;
            width: 100%;
            border: solid 1px #cccccc;
            .ged_page-breadcrumbles {
                display: flex;
                .bredcrumbles-item {
                    margin: 0 7px;
                    color: #0072be;
                    .main__link {
                        color: #0072be;
                        font-size: 10px;
                    }
                }
            }
            &_p {
              padding: 15px 0 0 0;
              color: @text-color;
              font-weight: 400;
            }
            .ged_page-item {
                &_big_block {
                    width: 100%;
                    border-bottom: solid 1px #cccccc;
                    padding-bottom: 20px;
                    .big_block_head {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        padding: 20px 0;
                        .ged_page-item_text {
                            width: 60%;
                            h3 {
                                padding: 0 0 15px 0;
                                color: @text-color;
                                font-size: 30px;
                            }
                            .get_page_date-end {
                                width: 120px;
                                text-align: center;
                                background-color: #ff5f47;
                                color: white;
                                text-transform: uppercase;
                                padding: 7px 6px;
                                font-size: 14px;
                                border-radius: 3px;
                            }
                        }
                        .ged_page-item_time {
                            width: 30%;
                            text-align: center;
                            .days {
                                font-weight: bold;
                                margin-bottom: 7px;
                                color: @text-color;
                                font-size: 18px;
                            }
                            .time-still {
                                width: 120px;
                                background-color: #424242;
                                color: #ffcc02;
                                margin: 0 auto;
                                padding: 8px 13px;
                                box-sizing: border-box;
                                border-radius: 3px;
                                font-size: 18px;
                            }
                        }
                    }
                    .big_block_body {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        .ged_page-item_image {
                            width: 40%;
                            height: 200px;
                            overflow: hidden;
                            img {
                              height: 100%;
                              width: 100%;
                            }
                        }
                        .ged_page-item_content {
                            margin-left: 30px;
                            width: 60%;
                            .content_text {
                                p {
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    color: @text-color;
                                    padding: 0 0 20px 0;
                                }
                            }
                            .content_more-info {
                                &_span {
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    color: @text-color;
                                }
                                &_button {
                                    background-color: #62c741;
                                    color: white;
                                    font-size: 18px;
                                    font-weight: bold;
                                    border: none;
                                    border-radius: 3px;
                                    padding: 10px 15px;
                                    margin-left: 10px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                &_small-block {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin: 20px 0;
                    .small-block_image {
                        width: 36%;
                        overflow: hidden;
                        .ged_page-item_img {
                            width: 100%;
                            height: 200px;
                        }
                    }
                    .small-block_content {
                      width: 64%;
                      margin-left: 30px;
                      display: flex;
                      justify-content: space-between;
                      .content-text {
                          padding: 0 50px 0 0;
                          h3 {
                              font-size: 14px;
                              font-weight: bold;
                              line-height: 1.5;
                              color: @text-color;
                              padding: 0 0 20px 0;
                          }
                          p {
                              font-size: 12px;
                              font-weight: 400;
                              line-height: 1.5;
                              color: @text-color;
                              padding: 0 0 20px 0;
                          }
                      }
                      .left-time {
                          margin-top: 50px;
                          p, span {
                              font-size: 12px;
                          }
                          p {
                              margin-bottom: 10px;
                          }
                          &_bottom {
                              display: flex;
                              .ged_page-item_number-days {
                                  display: flex;
                                  justify-content: center;
                                  background-color: #424242;
                                  border-radius: 3px;
                                  width: 60px;
                                  height: 30px;
                                  .day-item {
                                      color: white;
                                      font-size: 20px;
                                      font-weight: bold;
                                      text-transform: uppercase;
                                      text-align: center;
                                      width: 100%;
                                      padding: 3px 0;
                                      &_left {
                                          border-right: solid 1px white;
                                      }
                                      &_right {
                                          border-left: solid 1px white;
                                      }
                                  }
                              }
                              span {
                                  padding: 10px 0 0 4px;
                              }
                          }
                      }
                  }
                }
            }
            @media (max-width: 976px) {
                .row-12 > .col.md-6 {
                    width: 100% / 12 * 6;
                }
                .small-block {
                    .small-block_content {
                      display: none;
                    }
                    .small-block_image {
                        width: 100%;
                    }
                }
              }
            @media (max-width: 436px) {
                .row-12 > .col.sm-12 {
                    margin: 0 auto;
                    width: 100% / 12 * 12;
                    .small-block {
                        .small-block_content {
                          display: none;
                        }
                        .small-block_image {
                            width: inherit;
                        }
                    }
                }
            }
          }
          .ged_page__bottom-bar {
            padding: 50px 0 10px 0px;
            &_p {
              padding: 15px 0;
            }
            .ged_page__bottom-bar_other-sale {
              display: inline-block;
              width: 100%;
              .other-sale {
                float: left;
                width: 300px;
                height: 400px;
                border: solid 1px #ccc;
                overflow: hidden;
                cursor: pointer;
                transition: all 300ms linear;
                margin: 10px;
                &:hover {
                  box-shadow: 0px 14px 38px -9px rgba(138,138,138,1);
                }
                &_image {
                  height: 50%;
                  width: 100%;
                }
                &_img {
                  height: 100%;
                  width: 100%;
                }
                &_content {
                  padding: 10px 20px;
                  box-sizing: border-box;
                }
                &_p {
                  font-weight: 500;
                  color: @text-color;
                }
                &_date-end {
                  width: 100px;
                  text-align: center;
                  background-color: #ff5f47;
                  color: white;
                  text-transform: uppercase;
                  padding: 5px;
                  font-size: 12px;
                  border-radius: 3px;
                  margin-top: 10px;
                }
              }
            }
            @media (max-width: 976px) {
              .get_page__bottom-bar_other-sale {
                justify-content: space-around;
              }
            }
          }
      }
  }
  .ged_page__main-slide-bar {
      position: absolute;
      right: 0;
      top: 100px;
      width: 250px;
      background-color: #ebebed;
      float: right;
      .main-slide-bar__block {
          padding: 20px 15px 5px 15px;
          border-bottom: solid 1px #ccc;
          .slide-bar__block-image {
              width: 100%;
              .slide-bar__block-image_img {
                  width: 100%;
                  height: 100%;
                  border: solid 1px #ccc;
              }
          }
          .slide-bar__block-content {
              padding: 10px 0 0 0;
              .slide-bar_title {
                  font-size: 14px;
                  font-weight: bold;
              }
              .slide-bar_text {
                  padding-top: 7px;
                  font-size: 10px;
                  line-height: 1.3;
                  color: @text-color;
              }
          }
      }
  }
  @media (max-width: 976px) {
      .ged_page__main-slide-bar {
          position: static;
          float: left;
          width: 100%;
          .main-slide-bar__block {
            padding: 10px;
            display: inline-block;
            height: 200px;
            margin: 0 auto;
            .slide-bar__block-image {
                width: 250px;
                .slide-bar__block-image_img {
                    width: 250px;
                }
            }
          }
      }
  }
  @media (max-width: 590px) {
      .ged_page__main-slide-bar {

          float: left;
          width: 100%;
          .main-slide-bar__block {
            display: inline-block;
            height: 200px;
            margin: 0 auto;
            .slide-bar__block-image {
                width: 100%;
                .slide-bar__block-image_img {
                    width: 100%;
                }
            }
          }
      }
  }
}
@media (max-width: 976px) {
  .item-top {
    display: none;
  }
  .item-bottom {
    .nav_wrapper {
      width: 100%;
      display: inline-block;
      .bottom__nav-button {
        display: inline-block;
      }
    }
  }
  .big_block_body {
    .ged_page-item_content {
      display: none;
    }
  }
}
