//"out": "..//css/style.css"

//default settings
html, body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
}
* {
    outline: none;
}
h1, h2, h3, h4, h5, h6, ul, li, p, span, a, div {
    font-weight: normal;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    &:link, &:visited, &:active {
        color: #000;
        text-decoration: none;
    }
}
