//"out": "..//css/style.css"

//default settings
html, body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
}
* {
    outline: none;
}
h1, h2, h3, h4, h5, h6, ul, li, p, span, a, div {
    font-weight: normal;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    &:link, &:visited, &:active {
        color: #000;
        text-decoration: none;
    }
}
.wrapper {
    max-width: 1155px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 15px;
}
.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    background-image: url(..//img/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
.container {
    width: 100%;
    height: 798px;
    .text-container {
        position: relative;
        left: 100%;
        transform: translateX(-100%);
        width: 900px;
        text-align: center;
    }
    .head {
        padding-top: 35px;
        width: 100%;
        .school-name {
            width: 100%;
            background-color: #e1b95a;
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.22);
            border: solid 1px rgb(250, 208, 103);
            .text-container {
                h1 {
                    padding: 15px 17px 15px 0;
                    font-size: 30px;
                    font-weight: bold;
                    color: #000;
                    text-transform: uppercase;
                }
            }
        }
        .school-description {
            width: 100%;
            border: solid 1px rgb(250, 208, 103);
            border-width: 1px;
            background-color: rgba(31, 26, 13, 0.6);
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.22);
            .text-container {
                position: relative;
                .dots {
                    position: absolute;
                    top: 110%;
                    left: 50%;
                    transform: translate(-50%, -93%);
                    .dot {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                        background-color: #e1b95a;
                        margin: 0 5px;
                    }
                }
            }
            .text-container {
                p {
                    padding: 15px 17px;
                    font-size: 21px;
                    color: rgb(229, 198, 126);
                    font-style: italic;
                    line-height: 1.143;
                }
            }
        }
    }
    .main-text {
        width: 100%;
        h3 {
            padding: 34px 0 36px;
            font-size: 16px;
            font-family: "Roboto Light";
            color: rgb(255, 238, 198);
            line-height: 1.313;
            text-align: center;
        }
    }
    .about-lessons {
        .flex-wrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .video-container {
                margin-top: 10px;
                z-index: 10;
                .video {
                    position: relative;
                    width: 738px;
                    height: 410px;
                    border: 8px solid rgb(130, 113, 69);
                    background-color: rgba(0, 0, 0, 0.702);
                }
                .play-button {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 156px;
                    height: 156px;
                    border-style: solid;
                    border-width: 3px;
                    border-color: rgb(230, 199, 117);
                    border-radius: 50%;
                    background-color: rgba(247, 190, 57, 0);
                    cursor: pointer;
                }
                .triangle {
                    top: 50%;
                    left: 57%;
                    transform: translate(-57%, -50%);
                    position: absolute;
                    border: 50px solid transparent;
                    border-left: 75px solid rgb(230, 199, 117);
                    cursor: pointer;
                }
            }
            .form-container {
                position: relative;
                border-style: solid;
                margin-top: 10px;
                margin-left: 10px;
                border-width: 2px;
                border-color: rgb(130, 113, 69);
                width: 357px;
                height: 422px;
                .form-head {
                    padding: 15px 59px 20px 59px;
                    text-align: center;
                    font-size: 24px;
                    font-family: "Roboto Medium";
                    color: white;
                    line-height: 1.125;
                    span {
                        color: #e6c775;
                        font-weight: bold;
                    }
                    span.head {
                        font-size: 56px;
                    }
                }
                .form-bottom {
                    padding: 0 20px;
                    box-sizing: border-box;
                    text-align: center;
                    form {
                        input {
                            border-radius: 20px;
                            background-color: white;
                            width: 100%;
                            padding: 10px 15px;
                            box-sizing: border-box;
                            margin: 9px 0;
                            box-shadow: none;
                            border: none;
                        }
                        button {
                            width: 100%;
                            border-style: solid;
                            margin-top: 10px;
                            border-width: 4px;
                            border-color: rgb(130, 0, 0);
                            border-radius: 30px;
                            padding: 20px;
                            box-sizing: border-box;
                            background: -moz-linear-gradient(top, rgba(210,0,0,1) 0%, rgba(84,0,0,1) 100%);
                            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,0,0,1)), color-stop(100%, rgba(84,0,0,1)));
                            background: -webkit-linear-gradient(top, rgba(210,0,0,1) 0%, rgba(84,0,0,1) 100%);
                            background: -o-linear-gradient(top, rgba(210,0,0,1) 0%, rgba(84,0,0,1) 100%);
                            background: -ms-linear-gradient(top, rgba(210,0,0,1) 0%, rgba(84,0,0,1) 100%);
                            background: linear-gradient(to bottom, rgba(210,0,0,1) 0%, rgba(84,0,0,1) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d20000', endColorstr='#540000', GradientType=0 );
                            font-size: 35px;
                            font-family: "Roboto Light";
                            color: white;
                            text-transform: uppercase;
                            line-height: 0.75;
                            text-align: center;
                            cursor: pointer;
                        }
                    }
                }
                .dots {
                    position: absolute;
                    top: 102%;
                    left: 50%;
                    transform: translate(-50%, -93%);
                    .dot {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                        background-color: #e1b95a;
                        margin: 0 5px;
                    }
                }
            }
        }
    }
    .shine {
        width: 170px;
        height: 170px;
        filter: blur(63px);
        border-radius: 100%;
        position: absolute;
        background-color: white;
        top: 0;
        margin-left: 40px;
    }
    .image {
        width: 100%;
        top: 0;
        left: 35px;
        position: absolute;
        img {
            position: absolute;
            z-index: 3;
        }
    }
}
